.details-message {
    font-size: 0.85rem;
    background-color: rgba(49, 181, 114, 1);
    color: white;
    border-radius: 25px;
    padding: 0px 3px 0px 3px;
    z-index: 99;
    text-transform: none;
}

.quantity {
    display: flex;
}