.mb-cart {
	color: white;
	background-color: #31b572;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	/* width: 300px; */
	width: 40%;
	font-size: 1.5rem;
	/* border: 2px red solid; */
}

.mb-cart-toggle-button {
	background: none;
	outline: none;
	border: none;
	font-weight: 600;
	cursor: pointer;
	padding: 0;
	color: white;
	align-self: flex-end;
	font-family: inherit;
	font-size: 1.2rem;
	font-weight: 400;
}

.mb-cart-closed {
	padding: 32px;
	width: 40px;
	/* width: 300px; */
}

/* .mb-cart-closed>button  */
.closed {
	color: black;
}

.cart-btn {
	background-color: white;
	color: rgba(49, 181, 114, 1);
	display: inline-block;
	border-radius: 30px;
	border: none;
	font-size: 1.2rem;
	padding: 0px 5px;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	font-family: inherit;
}

.cart-btn:hover {
	cursor: pointer;
	opacity: 0.8;
}

/* will be removed when we will allow persons to command without login */
.message-login {
	color: red;
}

.shopping-cart-icon {
	font-size: 2rem;
}

.shopping-cart-icon-container {
	display: flex;
	justify-content: space-between;
}

/* label {
	display: flex;
	position: relative;
} */


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	opacity: 1;
}

@media (max-width: 600px) {
	.mb-cart {
		width: 100%;
	}

	.mb-cart-toggle-button {
		padding-right: 20px;
	}
}