.mb-cart {
	color: white;
	background-color: #31b572;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 25%;
	font-size: 1.5rem;
}

.mb-cart-toggle-button {
	background: none;
	outline: none;
	border: none;
	font-weight: 600;
	cursor: pointer;
	padding: 0;
	color: white;
	align-self: flex-end;
	font-family: inherit;
	font-size: 1.2rem;
	font-weight: 400;
}

.mb-cart-toggle-button:active {
	scale: 0.95;
}

.mb-cart-closed {
	padding: 32px;
	width: 40px;
}

.closed {
	color: black;
}

.cart-btn {
	background-color: white;
	color: rgba(49, 181, 114, 1);
	display: inline-block;
	border-radius: 30px;
	border: none;
	font-size: 1.2rem;
	padding: 0px 5px;
	justify-content: center;
	align-items: center;
	font-family: inherit;
}

.cart-btn:hover {
	cursor: pointer;
	opacity: 0.8;
}

.cart-btn:enabled:active {
	scale: 0.95;
}

/* will be removed when we will allow persons to command without login */
.message-login {
	color: red;
}

.shopping-cart-icon {
	font-size: 1.4rem;
	/* position: relative; */
	/* color: rgba(49, 181, 114, 1); */
}

.dark {
	color: rgba(49, 181, 114, 1);
}

.light {
	color: white;
}

.badge-dark {
	color: #fff;
	background-color: rgba(49, 181, 114, 1);
}

.badge-light {
	background-color: #fff;
	color: rgba(49, 181, 114, 1);
}

.shopping-cart-icon-container {
	display: flex;
	justify-content: space-between;
}

/* input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	opacity: 1;
} */

@media (max-width: 600px) {
	.mb-cart {
		width: 100%;
	}

	.mb-cart-toggle-button {
		padding-right: 20px;
	}
}

.empty {
	margin-top: 30px;
}

.empty-cart-icon {
	/* color: blue */
	font-size: 1.2rem;
	cursor: pointer;
}

.badge {
	/* padding-left: 9px;
	padding-right: 9px; */
	/* -webkit-border-radius: 9px;
	-moz-border-radius: 9px; */
	margin-left: -5px;
	margin-top: -7px;
	/* border-radius: 50px; */
	font-size: 0.7rem;
	font-weight: 500;
	vertical-align: top;
	/* width: 7px;
	height: 7px; */
	height: 20px;
	width: 20px;
	/* border: 1px solid red; */
	/* text-align: centers; */
	/* background-color: #bbb; */
	border-radius: 50%;
	display: inline-block;
	/* font-size: 0.5rem; */
	/* margin: auto auto; */
	/* text-align: center; */
	position: relative;
	/* position: fixed; */
	/* top: -5px; */
	/* z-index: 45; */
}

/* * {
	margin: 0;
  }
  
  .container {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	position: relative;
  } */

.cart-qty {
	position: absolute;
	top: 40%;
	transform: translate(-55%, -50%);
}

/* 
.label-warning[href],
.badge-warning[href] {
	background-color: #c67605;
} */

/* #lblCartCount {
	font-size: 12px;
	background: #ff0000;
	color: #fff;
	padding: 0 5px;
	vertical-align: top;
	margin-left: -10px;
} */

.icon2-cart {
	font-size: 1rem;
}