.mb-categories {
	text-align: center;
	padding-top: 30px;
}

.mb-categories-select {
	font-family: inherit;
	margin-right: 15px;
	background-color: rgba(49, 181, 114, 1);
	color: white;
	padding: 0.2em;
	border: none;
	font-size: 1.2rem;
	border-radius: 5px;
}

.mb-categories-select:hover {
	cursor: pointer;
	background-color: rgba(49, 181, 114, 0.8);
}