.mb-footer {
	color: black;
	padding: 32px;
	border-top: solid 3px black;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 500;
}

.mb-footer-elem {
	margin-bottom: 10px;
	justify-content: right;
}

.mb-send-btn {
	height: 35px;
	width: 70px;
	margin-left: 10px;
	border-radius: 20px;
	border: none;
	background-color: rgba(49, 181, 114, 1);
	color: white;
	padding: 5px;
	justify-content: center;
	align-items: center;
	font-family: inherit;
	display: flex;
	gap: 2px;
}


.mb-send-btn:enabled:active {
	scale: 0.95;
}

.inputFooter {
	border-radius: 15px;
	/* padding: 2px 4px; */
	/* padding: 6px 2px; */
	padding: 5px 20px;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	text-align: center;
	text-overflow: ellipsis;
}

.input-footer {
	border-radius: 15px;
	font-size: 1rem;
	border: none;
	/* padding: 6px 2px; */
	text-align: center;
	text-overflow: ellipsis;
	padding: 5px 20px;
	/* margin-right: 20px; */
	background-color: rgba(49, 181, 114, 1);
	/* background-color: #c3f5ce; */
	/* , ; */
	color: white;
}

.input-footer:focus {
	outline: none;
}

/* .input-search {
	

	border: none;
	
	
	
	margin-right: 20px;
	background-color: rgba(49, 181, 114, 1);
	color: white;
} */

.email {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.inputFooter:not(:focus):invalid {
	border: red 1px solid;
}

.invalidMsg {
	background-color: rgb(255, 166, 166);
	color: white;
	padding: 2px;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.373);
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1rem;
}

.mb-send-btn:enabled:hover {
	cursor: pointer;
	opacity: 0.8;
}

.btn-disabled {
	background-color: grey;
}

.btn-disabled:hover {
	cursor: auto;
	background-color: grey;
	opacity: 1;
}

.sending-email-confirmation {
	background-color: rgba(49, 181, 114, 1);
	color: white;
	padding: 2px;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.373);
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1rem;
}