.mb-logo-title {
	color: black;
	text-align: right;
	padding: 10px 32px;
	border-bottom: solid 3px black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}

.mb-title {
	padding-left: 32px;
	font-size: 2.5rem;
	font-weight: 500;
	color: #31b572;
}

.mb-logo {
	height: 45px;
	width: 45px;
}

.icon {
	margin-left: auto;
	margin-right: auto;
}

.login-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px 10px 0px 10px;
	background-color: rgba(49, 181, 114, 1);
	color: white;
	font-size: 1.1rem;
}

.sticky {
	position: sticky;
	top: 0;
	width: 100%;
	opacity: 1;
	z-index: 1;
}