body {
	padding: 0px;
	margin: 0px;
}

.mb-layout-inner {
	display: flex;
	flex-direction: row;
	background: linear-gradient(0.25turn, #dff3e1, #c3f5ce);
}

@media (max-width: 600px) {
	.mb-layout-inner {
		display: flex;
		flex-direction: column;
	}
}