  p {
    padding: 5px 0px 0px 20px;
  }

  .confirmation {
    background-color: rgba(49, 181, 114, 1);
    text-align: center;
    padding-top: 50px;
    color: white;
    height: 100vw;
    /* font-size: var(----base-font-size); */
    font-size: 25px;
  }