.mb-shopping-list {
	width: 100%;
}

.mb-plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.filters {
	display: flex;
	justify-content: space-between;
	align-items: end;
	flex-direction: row;
}

.shopping-list-label {
	display: flex;
	position: relative;
}

.input-search {
	border-radius: 15px;
	font-size: 1.2rem;
	border: none;
	padding: 6px 2px;
	text-align: center;
	text-overflow: ellipsis;
	padding: 5px 20px;
	margin-right: 20px;
	background-color: rgba(49, 181, 114, 1);
	color: white;
}

.search-icon {
	position: absolute;
	right: 30px;
	top: 5px;
	width: 20px;
	height: 20px;
	color: rgb(31, 94, 63);
}

.input-search:focus {
	outline: none;
}

.one-plant-item {
	margin-bottom: 40px;
}

@media (max-width: 600px) {
	.mb-shopping-list {
		flex: 1 100%;
	}

	.one-plant-item {
		width: 100%;
		height: 100%;
	}
}