.mb-shopping-list {
	width: 100%;
}

.mb-plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex; 
	flex-wrap: wrap; 
	justify-content: center;
}

@media (max-width: 600px) {
	.mb-shopping-list {
	  flex: 1 100%;
	}
  }

